@model FitnessTracker.Models.WorkoutDetail

@{
    ViewBag.Title = "Details";
}
<div class="container">
<div>
    <h2>Workout</h2>

    <div>
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExerciseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameOfWorkout)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameOfWorkout)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DayOfWorkout)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DayOfWorkout)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Day)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Day)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrainerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TrainerName)
            </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

</div>