@model IEnumerable<FitnessTracker.Data.Exercise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfExercise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfExercise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExerciseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExerciseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExerciseId })
        </td>
    </tr>
}

</table>
