@using FitnessTracker.WebMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
}

<p class="page-title">@ViewBag.Title</p>
@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">*@
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-wrapper">
        <h4>Log into your account</h4>
        @*<h4>Use a local account to log in.</h4>
            <hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">*@
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        @*<div class="col-md-10">*@
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        @*@*</div>
            </div>*@
        @*<div class="form-group">*@
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        @*<div class="col-md-10">*@
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        @*</div>
            </div>*@
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">*@
        <br />
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
        @*</div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">*@
        <br />
        <input type="submit" value="Sign in" class="btn btn-default" />
        @*</div>*@
        <p class="page-links">
            @Html.ActionLink("Register as a new user", "Register")
        </p>
        <br />
    </div>
    @*</div>*@
    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}
@*</section>
    </div>*@
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
@*</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    form {
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
    }

    .form-wrapper {
        background-color: rgba(255, 255, 255, .7);
        padding: 25px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 20px 1px white;
    }

    .control-label {
        padding-bottom: 5px;
    }

    .form-control {
        padding-bottom: 5px;
        background-color: white;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px white inset;
        -webkit-text-fill-color: black;
    }
</style>